@import "src/styles/constants";

.top-bar {
  padding: 1rem;
  background-color: $black;
  color: #fff;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: cursive, sans-serif;
    }

    i {
      margin-left: 5px;
      font-size: 1.5rem;
    }
  }
}
